@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #F5E8E8;
}


/* header */
header{
    position: fixed;
    z-index: 100;
    border: 1px solid #E5E8EB;
    width: 1440px;
    border-radius: 10px;
}
.header{
    display: flex;
    gap: 180px;
    padding: 12px 20px;
    align-items: center;
}
.header1 .bi{
    border: 3px solid #EA3323;border-radius: 5px;
    color: #EA3323;
}
.header1 a{
    margin: 20px;
    text-decoration: none;
    color: black;
    font-size: 19px;
    font-weight: 550;
}
.header1 a.active{
    color: #EA3323;
}
.header2 {
    display: flex;
    align-items: center;
    gap: 18px;
}
.sha{
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
.head1{
    width: 140px;
    height: 40px;
    border: 1px solid #EB9B94;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    font-size: 19px;
    box-shadow: 2px 3px 5px grey;
     background-color: #F5E8E8;
}
.head1 a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-decoration: none;
    color: #9C4A4B;
}
.head1 input{
    background-color: #F5E8E8;
    color: #9C4A4B;
    width: 100px;
    border: none;
    outline: none;
    font-size: 20px;
}
.head1 ::placeholder{
    color: #9C4A4B;
}
.head2 .bi{
    font-size: 30px;
}
.head2 a{
    color: black;
}
.head3{
    width: 80px;
    height: 40px;
    background-color: #C5090C;
    display: flex;
    justify-content: center;
    align-items: center;
     border-radius: 10px;
    box-shadow: 2px 3px 5px grey;
}
.head3 a{
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-size: 19px;
}



 /* home */


.homeout{
    padding-top: 100px;
}
.home{
    margin: 30px auto;
    margin-left: 40px;
    width:1280px ;
    height:597px ;
    background-image: url(../image/home.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    text-align: center;
    border-radius: 20px;
}
.homesea{
    width: 480px;
    height: 30px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FCFAF7;
    color: #9C734A;
    border-radius: 10px;
}
.homesea a{
    background-color: #C5090C;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}
.home1out{
    margin: 40px auto;
    margin-left: 80px;
}

 .home1out h2{
     margin: 40px 0;
     font-size: 32px;
 }
.home1{
    display: flex;
    gap: 100px;
    font-size: 20px;
}
.home1 a{
    text-decoration: none;
    color: black;
}
.home1in span{
    color: #9C734A;
    font-size: 16px;
}
.home1in img{
    width: 322px;
    height: 135px;
    border-radius: 8px;
    object-fit: cover;
}
.home2{
    font-size: 20px;
    margin: 30px 0;
}
.home3{
    display: flex;
    gap:50px;
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.home3in{
    width: 337px;
    height: 137px;
    border-radius: 10px;
    background-color: #FCFAF7;
    box-shadow: 2px 3px 5px #E8DBCF;
    padding: 15px;
    border: 1px solid #E8DBCF;
}
.home3in .bi{
    font-size: 20px;
}
.home3in h3{
    margin: 5px;
    font-size: 22px;
}
.home3in p{
    margin: 5px;
}





/* search   */

.ingreout{
    padding-top: 130px;
    padding-left: 80px;
    height: 1600px;
}
.ingre h2{
    font-size: 34px;
    margin-bottom: 100px;
}
.ingre label{
    font-size: 20px;
}
.ingre input{
    background-color: #FCFAF7;
    width: 448px;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 2px 3px 5px grey;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    font-size: 22px;
}
.ingre ::placeholder{
    color: #9C734A;
}
.ingre button{
    background-color: #C5090C;
    width: 156px;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    border: none;
}
.ingrehide{
    width: 90%;
    margin-top: 80px;
    font-size: 24px;
    position: absolute;
    display: none;
}
.ingre1{
    display: flex;
    justify-content:space-between ;
    margin-bottom: 30px;
}
.ingre1 h4{
    font-size: 25px;
}
.ingre1 p{
    color: #9C734A;
    font-size: 17px;
}
.ingre1 img{
    width: 608px;
    height: 247px;
    border-radius: 8px;
    object-fit: cover;
}
.ingre1 button{
    background-color: #EB9B94;
    color: black;
    width: 160px;
    height: 53px;
    padding: 10px;
    border: none;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 2px 3px 5px grey;
}
.ingre1 a{
    text-decoration:none ;
    color: black;
}










/*  favorite  */


.favout{
    padding-top: 130px;
    width: 1294px;
    margin: 0 auto;
    height: 900px;
}
.favout h1{
   font-size: 32px;
   margin: 40px 0;
}

.fav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
}
.favin{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}
.favin span{
    font-size: 18px;
    display: block;
    color: #9C734A;
}
.favin img{
    width: 56px;
    height: 56px;
    border-radius: 10px;
    object-fit: cover;
}
.fav button{
    background-color: #EB9B94;
    width: 103px;
    height: 32px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    box-shadow: 2px 3px 5px grey;
}
.back{
    margin: 80px auto;
    justify-content: center;
    display: none;
}
.back a{
    background-color: #C5090C;
    padding: 15px 30px;
    text-decoration: none;
    color: black;
    border-radius: 8px;
    
}

















/* Recipe  */

.recipeout{
    padding-top: 130px;
    padding-left: 60px;
}
.recipeout h2{
    font-size: 34px;
    margin: 30px;
}
.recipe{
    display: flex;
    gap: 30px;
    margin-bottom: 70px;
}
.re1{
    background-color: #EB9B94;
    width: 164px;
    height: 30px;
    padding: 10px ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 10px;
    position: relative;
}
.re1 a{
    text-decoration: none;
    color: black;
}
.vege{
    position: absolute;
    top: 50px;
    text-align: center;
    display: none;
}
.vege p{
    width: 164px;
    padding: 10px;
    background-color: #F0493ABF;
    border-radius: 10px;
    margin: 5px;
}







.recipe1 a{
    color: black;
    text-decoration: none;
}
.recipe1{
    display: grid;
    grid-template-columns:250px 250px 250px 250px 250px ;
    grid-auto-rows: 315px ;
    gap: 15px;
    width: 1304px;
    height: 677px;
    margin: 5px auto;
    font-size: 20px;
}
.recipe1 span{
    font-size: 16px;
    color: #9C734A;
}
.recipe1 img{
    width: 250px;
    height: 176px;
    border-radius: 10px;
    box-shadow: 2px 3px 5px grey;
}
.recipe1 p{
    text-shadow: 2px 2px 4px grey;
}










/* single item   */

.singleout{
    padding-left: 100px;
    padding-top: 100px;
}
.pasta{
    width: 1239px;
    height: 769px;
    margin: 30px 0;
    position: relative;
}
.pasta img{
    width: 1239px;
    height: 769px;
    object-fit: cover;
    border-radius: 20px;
}
.pasta h3{
    position: absolute;
    bottom: 40px;
    color: white;
    font-size: 32px;
    left: 40px;
}
.pasta .pause{
    position: absolute;
    left: 50%;
    top: 45%;
    font-size: 50px;
    color: white;
}
.pasing{
    font-size: 24px;
}
.pasing p{
    position: relative;
    margin-left: 40px;
}
.pasing p::before{
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: #EA3323;
    position: absolute;
    left: -34px;
}
.pasins{
    font-size: 20px;
    margin-top: 80px;
}
.pasins p{
    font-size: 16px;
    color: #9C734A;
    margin: 5px;
    margin-bottom: 25px;
}
.pasins h4{
    margin: 5px;
}
.pasdet{
    font-size: 20px;
    margin-top: 50px;
    width: 90%;
}
.det{
    display: flex;
    justify-content: space-between;
}
.bron{
    color: #9C734A;
}
.save{
    margin: 30px 0;
}
.save button{
    background-color: #F5EDE8;
    padding: 10px 30px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 3px 5px grey;
    margin-right: 30px;
}
.save .save1{
    background-color: #C5090C;
}
.save1 a{
    color: black;
    text-decoration: none;
}













/*  log */

.log{
    width: 100%;
    height: 140vh;
    padding-top: 140px;
    padding-left: 220px;
}
.log1 h2{
   font-size: 32px;
   margin-left: 300px;
}
.log1 label{
 font-size: 18px;
 font-weight: 600;
}
.log1 input{
    background-color: #F5EDE8;
    box-shadow: 2px 3px 5px #00000040;
    width: 830px;
    height: 25px;
    padding: 16px;
    border-radius: 8px;
    border: none;
    margin: 20px auto;
    margin-bottom: 60px;
}
.log1 ::placeholder{
    font-size: 20px;
    color: #9C734A;

}
.logform{
    margin-top: 80px;
}
.logform button{
    background-color: #C5090C;
    font-size: 20px;
    border: none;
    width: 480px;
    padding: 13px;
    border-radius: 8px;
}

















/*  logout  */

.logout{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120vh;
}
.login{
    text-align: center;
}
.login img{
    width: 128px;
    height: 128px;
    border-radius: 50%;
    object-fit: cover;
}
.login h3{
    font-size: 28px;
    margin: 0px;
}
.login p{
    color: #9C734A;
    margin: 0px;
    font-size: 19px;
}
.edit{
    width: 480px;
    padding: 13px;
    border-radius: 8px;
    background-color: #F5EDE8;
    box-shadow: 2px 3px 5px grey;
    margin: 30px auto;
    font-weight: 550;
}
.login button{
    padding: 14px 20px;
    background-color: #F5EDE8;
    box-shadow: 2px 3px 5px grey;
    font-weight: 550;
    border: none;
     border-radius: 8px;
     font-size: 18px;
}










/* footer */

footer{
    background-color: #EB9B94;
    font-size: 16px;
    padding: 30px;
}
.footer1{
    display: flex;
    justify-content: space-around;
    width: 960px;
    margin: 0 auto;
}
.footer2{
    text-align: center;
}
.footer2 .bi{
    font-size: 20px;
    margin-right:10px;

}

